#popup-container {
  width: 350px;
  padding: 20px;
}

button {
  width: 100%;
}

h1 {
  text-align: center;
  color: #bd5358;
}

.doc-icon {
  padding: 10px;
}

.inline-svg {
  max-height: 1.5em;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}